img {
    display: block;
    margin: auto;
    
}

#main {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 35.5%;
}

#search {
    border-radius: 30px;
    border: 1px solid #D9E0E1; 
    padding: 20px;
    width: 450px;
    height: 0.5px;
    margin-top: 25px;
    background-image: url('images/magnifying-glass.jpg'), url('images/mic-icon.png');
    background-size: 25px 25px, 15px 20px;
    background-position: 10px 8px, 505px 10px;
    background-repeat: no-repeat;
    padding-left:40px;
    padding-right:50px;
}

#search:hover{
    outline: none !important;
    border:none;
    box-shadow: 0 3px 10px #E2E2E2;
    width:453px;
    height:1px;
}

#search:focus {
    outline: none !important;
    border:none;
    box-shadow: 0 3px 10px #E2E2E2;
    width:453px;
    height:1px;
}

.b {
    padding: 10px 12px;
    border: 1px solid white;
    background-color: #F1F2F3;
    border-radius: 5px;
    position: absolute;
    left: 25%;
    top: 118%;
}

.b:hover {
    border:1px solid #CCCCCC;
}

ul {
    list-style-type: none;
}

li {
    float: left;  
}

a {
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #555757;
    font-size: 13px;
    text-decoration: none; 
    position: absolute;
    padding: 10px 8px;  
}

a:hover {
    text-decoration: underline;
}

#a1 {
    top: 0px;
    left: 15px;
}

#a2 {
    top: 0px;
    left: 70px;
}

#a3 {
    top: 0px;
    right: 75px;
}

#a4 {
    top: 0px;
    right: 15px;
} 

#a5 {
    bottom: 1px;
    left: 15px;
} 

#a6 {
    bottom: 1px;
    left: 100px;
} 

#a7 {
    bottom: 1px;
    left: 173px;
} 

#bottom-bar {
    background-color:rgb(247, 247, 247);
    border-top:1px solid rgb(188, 188, 188); 
    width:100%;
    height:40px;
    position:absolute;
    bottom:0px;
    z-index:0;
    left:-5px;
}




